/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font: small-caps 100%/200% serif; }

header {
  background-color: rgba(199, 181, 140, 0.981127); }

body {
  background-color: rgba(199, 181, 140, 0.981127); }

footer {
  background-color: rgba(199, 181, 140, 0.981127); }

main ul li .blog1, main ul li .blog2 {
  display: grid;
  grid-template-areas: "p img" "img h2" "img h1";
  background: linear-gradient(0deg, #f6f1eb 0%, rgba(199, 181, 140, 0.981127) 79%);
  list-style: none;
  border: 3px solid black;
  padding: 20px;
  margin: 20px; }

header {
  background-color: rgba(199, 181, 140, 0.981127);
  margin: 5px;
  border: 2px inset gray;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  header img {
    width: 250px;
    display: flex; }
  header .navbar {
    padding: 0%; }
  header .container-fluid {
    background-color: rgba(199, 181, 140, 0.981127); }
  header nav ul {
    background-color: rgba(199, 181, 140, 0.981127);
    list-style: none;
    display: flex;
    gap: 20px; }
    header nav ul li {
      background-color: rgba(199, 181, 140, 0.981127);
      background: linear-gradient(0deg, #f6f1eb 0%, rgba(199, 181, 140, 0.981127) 79%);
      border-radius: 15px;
      text-shadow: 1px 1px 3px;
      box-shadow: 1px 1px 4px black;
      font-size: medium; }

.home {
  background-color: rgba(199, 181, 140, 0.981127);
  margin: 15px;
  padding: 30px;
  gap: 10px; }
  .home .titulo {
    color: #30613b; }
  .home .fotografo {
    font-size: 85%;
    text-shadow: 1px 1px 2px; }
  .home div img {
    width: 250px;
    margin: 20px; }
  @media (max-width: 600px) {
    .home {
      margin: 15px;
      padding: 30px;
      gap: 10px;
      text-align: center;
      display: grid;
      grid-template-areas: "p img" "img img" "img img"; } }

.titulo {
  margin: 10px;
  padding: 10px;
  color: #30613b; }

main {
  background-color: rgba(199, 181, 140, 0.981127);
  padding: 30px;
  margin: 30px;
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap; }
  main .linea {
    text-align: center;
    border-top: 1px solid black;
    height: 2px;
    max-width: 2000px;
    padding: 0;
    margin: 5px auto 0 auto; }
  @media (max-width: 600px) {
    main {
      padding: 30px;
      margin: 30px;
      display: flex;
      align-items: center;
      text-align: center; } }

.moda {
  padding: 30px;
  margin: 30px;
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap; }
  .moda .linea {
    text-align: center;
    border-top: 1px solid black;
    height: 2px;
    max-width: 2000px;
    padding: 0;
    margin: 5px auto 0 auto; }
  @media (max-width: 600px) {
    .moda {
      padding: 30px;
      margin: 30px;
      display: flex;
      align-items: center;
      text-align: center; } }

.arte {
  padding: 30px;
  margin: 30px;
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap; }
  .arte .linea {
    text-align: center;
    border-top: 1px solid black;
    height: 2px;
    max-width: 2000px;
    padding: 0;
    margin: 5px auto 0 auto; }
  @media (max-width: 600px) {
    .arte {
      padding: 30px;
      margin: 30px;
      display: flex;
      align-items: center;
      text-align: center; } }

.casamiento {
  padding: 30px;
  margin: 30px;
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap; }
  .casamiento .linea {
    text-align: center;
    border-top: 1px solid black;
    height: 2px;
    max-width: 2000px;
    padding: 0;
    margin: 5px auto 0 auto; }
  @media (max-width: 600px) {
    .casamiento {
      padding: 30px;
      margin: 30px;
      display: flex;
      align-items: center;
      text-align: center; } }

ul li h2 {
  margin: 15px;
  padding: 15px;
  color: #410505;
  text-shadow: 1px 1px 3px; }

ul li img {
  width: 35%; }

.titulo {
  color: #30613b; }

main ul li {
  list-style: none; }
  main ul li img {
    width: 50%; }
  main ul li .linea {
    text-align: center;
    border-top: 1px solid black;
    height: 2px;
    max-width: 2000px;
    padding: 0;
    margin: 5px auto 0 auto; }

.titulo {
  color: #30613b; }

.img-historia {
  width: 50%; }

.story {
  padding: 20px;
  margin: 20px; }

.historia {
  display: flex;
  justify-content: space-between; }
  .historia h2 {
    color: #410505; }

.linea {
  text-align: center;
  border-top: 1px solid black;
  height: 2px;
  max-width: 1500px;
  padding: 0;
  margin: 5px auto 0 auto; }

.centrar {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: 20px; }

.img-contacto {
  width: 50%; }

.titulo {
  margin: 10px;
  padding: 10px;
  color: #30613b; }

.linea {
  text-align: center;
  border-top: 1px solid black;
  height: 2px;
  max-width: 1500px;
  padding: 0;
  margin: 5px auto 0 auto; }

.centrar {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: 20px; }

.contacto {
  background: linear-gradient(0deg, #f6f1eb 0%, rgba(199, 181, 140, 0.981127) 79%);
  margin: 15px;
  padding: 30px;
  text-align: start;
  border: 1px solid #663232; }

footer {
  background-color: rgba(199, 181, 140, 0.981127);
  text-align: center;
  margin-top: 15px; }
  footer h3 {
    text-align: start;
    font-size: 13px; }
  footer ul li {
    display: inline;
    margin: 10px; }
    footer ul li img {
      width: 20px; }
  @media (max-width: 600px) {
    footer {
      margin: 10px;
      padding: 10px;
      display: block; }
      footer h3 {
        text-align: center; } }
