
.img-contacto{
    width: 50%;
}

.titulo{
    margin: 10px;
    padding: 10px;
    color: #30613b;
 }
 
.linea {
    text-align: center;
    border-top: 1px solid black;
    height: 2px;
    max-width: 1500px;
    padding: 0;
    margin: 5px auto 0 auto;
  }

  .centrar{
    display: flex; 
    justify-content: center;
    padding: 20px;
    margin: 20px;
  }

  .contacto{
    background: linear-gradient(0deg, rgba(246,241,235,1) 0%, rgba(199,181,140,0.981127485173757) 79%);
    margin: 15px;
    padding: 30px;
    text-align: start;
    border: 5px solid black
  }
