
@mixin proyecto {

    padding: 30px;
    margin: 30px;
    align-items: flex-start;
    display: flex;
    flex-flow: row wrap;
    .linea {
        text-align: center;
        border-top: 1px solid black;
        height: 2px;
        max-width: 2000px;
        padding: 0;
        margin: 5px auto 0 auto;
      }
    @media (max-width: 600px) 
         {
          padding: 30px;
          margin: 30px;
          display: flex;
          align-items: center;
          text-align: center;
        }
}