//colores principales
$color-menu: rgba(199,181,140,0.981127485173757);
$color-texto: rgb(65, 5, 5);
$color-fondo: rgb(46, 42, 42);
$color-botones: linear-gradient(0deg, rgba(246,241,235,1) 0%, rgba(199,181,140,0.981127485173757) 79%);
$color-principal: rgba(199,181,140,0.981127485173757)
